<div class="container">

<%= form_for(@task) do |f| %>
<h2>Edit Task</h2>
  <p><%= f.label :type, "Type: " %>
  <% if @task.type %>
    <%= collection_select(:type, :type_id, Type.all, :id, :name, selected: @task.type.id ) %></p>
  <% else %>
    <%= collection_select(:type, :type_id, Type.all, :id, :name, prompt: true) %></p>
  <% end %> </p>
  <p><%= f.label :description, "Description: " %>
  <%= f.text_field :description %></p>
  <p><%= f.label :start_time, "Start time: " %>
  <%= f.text_field :start_time %></p>
  <p><%= f.label :end_time, "End time: " %>
  <%= f.text_field :end_time %></p>
  <p><%= f.submit %>
<% end %>

</div>
