<div class="container">
  <div class="profile_page">
    <div id="account_info">
      <h4>Your Account Info</h4>
      <%= @user.name %><br>
      <%= @user.email %><br><br>
    </div>

    <div class="css_button">
    <%= link_to "See all matters", matters_path %>
    </div>

    <div class="css_button">
      <%= link_to "Add new matter", new_user_matter_path(@user) %>
    </div>
  </div>

  <h3>Recent Matters</h3>
  <%= render "matters/matterlist" %>

</div>
